James Allen <jamesallen0108@gmail.com>
Pete Bachant <petebachant@gmail.com>
Piotr Banaszkiewicz <piotr@banaszkiewicz.org>
Trevor Bekolay <tbekolay@gmail.com>
John Blischak <jdblischak@gmail.com>
Maxime Boissonneault <maxime.boissonneault@calculquebec.ca>
Andy Boughton <abought@gmail.com> <pchemist@gmail.com>
Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com> <abigail.cabunoc@oicr.on.ca>
Gerard Capes <gerardcapes@gmail.com>
Deborah Digges <deborah.gertrude.digges@gmail.com>
Jonah Duckles <jonah@duckles.org>
Rémi Emonet <remi@heeere.com> <remi.emonet@univ-st-etienne.fr>
Michael Hansen <hansen.mike@gmail.com>
Luiz Irber <luiz.irber@gmail.com>
Mike Jackson <m.jackson@software.ac.uk> <michaelj@epcc.ed.ac.uk>
Michael Jackson <michaelj@epcc.ed.ac.uk>
W. Trevor King <wking@tremily.us>
Gang Liu <gang.liu@queensu.ca>
François Michonneau <francois.michonneau@gmail.com>
Bill Mills <mills.wj@gmail.com>
Lex Nederbragt <lex.nederbragt@bio.uio.no> <lex.nederbragt@ibv.uio.no>
Aaron O'Leary <aaron.oleary@gmail.com>
Jon Pipitone <jon.pipitone@utoronto.ca>
Timothée Poisot <tim@poisotlab.io>
Adam Richie-Halford <richford@uw.edu>
Jason Sherman <jsherman@ou.edu> <jsn.sherman@gmail.com>
Raniere Silva <ra092767@ime.unicamp.br> <raniere@ime.unicamp.br> <raniere@rgaiacs.com>
Byron Smith <bsmith89@gmail.com>
Andy Teucher <andy.teucher@gmail.com>
Greg Wilson <gvwilson@software-carpentry.org> <gvwilson@third-bit.com>
