<p><img alt="Dependencies represented within the Makefile" src="../fig/02-makefile.png" /></p>
<hr/>
<p><img alt="results.txt dependencies represented within the Makefile" src="../fig/02-makefile-challenge.png" /></p>
<hr/>
<p><img alt="results.txt dependencies after adding wordcount.py as a dependency" src="../fig/04-dependencies.png" /></p>
<hr/>
<p><img alt="results.txt dependencies after introducing a function" src="../fig/07-functions.png" /></p>
<hr/>
<p><img alt="results.txt dependencies once images have been added" src="../fig/09-conclusion-challenge-1.png" /></p>
